<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="styles/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="header.partial.html"
      ></nav>
    </header>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="main-task.main-section.partial.html"
    ></section>
    <div class="container hide" id="footer" style="display: block">
      <div class="row">
        <div class="mr-20">
          <a id="btnBack" href="/index.html" class="btn btn1 hide btn-danger">BACK</a>
        </div>
      </div>
    </div>
    <footer>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="footer.partial.html"
      ></nav>
    </footer>
  </body>
</html>
